# =========================
# Eclipse
# =========================
.metadata/
.settings/
.classpath
.project

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# Java
# =========================
*.class

# =========================
# Maven
# =========================
target/

# =========================
# TestNG
# =========================
test-output/
surefire-reports/

# =========================
# Logs
# =========================
*.log

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example
